header{
  background-color: var(--color-primary);
  height: 60px;
  display: flex;
  align-items: center;
}

.dsmovie-nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.dsmovie-nav-content h1 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.dsmovie-nav-content a {
  margin: 0;
  font-size: 24px;
  text-decoration: none;
}

.dsmovie-contact-container {
  display: flex;
  align-items: center;
  color: #fff;
}

.dsmovie-contact-link {
  margin: 0 0 0 10px;
  font-size: 14px;
}